body{
    font-size: 25px;
    color: rgb(254, 156, 166);
    background-color: rgb(67, 12, 12);
    font-family: monospace;
}

.container{
    padding-top: 200px;
    width: 40%;
    margin: auto;
}

a{
    color: rgb(254, 156, 166);
}

a:visited{
    color: rgb(254, 156, 166);
}

li{
    list-style: none;
}